<h1>Edit Post</h1>

<div class="row">
    <form class="col s12" method="POST" action="/profile/user/edit?_method=PUT">
        <div class="row">
            <div class="input-field col s4">
                <input class="form-control" id="content" name="content"  type="text" value="<%=post.content%>">
                <label  for="content">Write what you feel</label>
            </div>

        </div>
        <button class="btn waves-effect waves-light green" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>