<footer class="page-footer grey lighten-2">
     <div class="container">
      <div class="row">
        <div class="center">
            <a class="btn-floating btn-large waves-effect waves-light white center" href="/" ><i class="material-icons black center">home</i></a>
        </div>
      </div>
    </div> 
    
      <div class="container">
     <p id="navf">© 2020 Copyright David Velichko</p>
      </div>
  
  </footer>