<% posts.forEach(function(p) { %>
      <h2><%= p.content %></h2>
      <% if(p.tags.length > 0){ %>
          <% p.tags.forEach(function(t) { %>
          <P><%= t.tagName %></p>
          <% }); %>
    <%  } %>
<% }); %>

