html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    font-size: 2.1rem;
}
img{
    height: 300px;
    width: auto;
    border-radius: 200px;
    border: 8px solid rgb(0, 0, 0);
}

#userPro{
    margin-top: 20px;
}

#tho{
    margin-left: 20px;
}

#homet{
    font-family: 'Bowlby One SC', cursive;
    color: rgb(50, 148, 212);
}
#log{
    font-family: 'Bowlby One SC', cursive;
}

#statHome{
    font-family: 'Poiret One', cursive;
}

#userd{
    font-family: 'Squada One', cursive;
}
#post{
    border: 2px solid rgb(0, 0, 0)
}

#jokeh{
    
    font-family: 'Bangers', cursive; 
}

#joke{
    margin-top: 200px;
}

footer{
    text-align: center;
}
#navf{
    color: black;
}

#navname{
    font-family: 'Squada One', cursive;
    color: black;
}